doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
    link(rel="shortcut icon" type="image/jpg" href=faviconString)
    script(src="https://aframe.io/releases/1.2.0/aframe.min.js")
    script(src=jsPath)
    title=title
  body
    block content